<ion-view view-title="{{ vm.visualizacao ? 'Visualizar' : (vm.alteracao ? 'Alterar' : 'Inserir')}} Investimento">
    <ion-content class="padrao has-header padding">
        <form name="investimento">
			<span class="input-label texto-input">Descrição</span>
			<label class="item item-input" ng-disabled="vm.visualizacao">
				<input type="text" ng-model="vm.dados.descricao">
			</label>
			<br>

            <span class="input-label texto-input">Tipo de investimento</span>
            <label class="item item-input" ng-disabled="vm.visualizacao">
                <input type="text" ng-model="vm.dados.tipoInvestimento.nome">
            </label>
            <br>
            <span class="input-label texto-input">Taxa do investimento</span>
            <label class="item item-input">
                <input type="number" ng-model="vm.dados.tipoInvestimento.taxa" step="0.01" placeholder="0,00" ng-disabled="vm.visualizacao">
            </label>
            <br>

            <ion-checkbox ng-model="vm.iniciado" class="check texto-input" ng-hide="vm.visualizacao">Investimento iniciado</ion-checkbox>

            <div ng-hide="!vm.iniciado && !vm.visualizacao">
                <br>
                <span class="input-label">Data de inicio</span>
                <label class="item item-input">
                    <input type="date" ng-model="vm.dados.dataInicio" ng-disabled="vm.visualizacao">
                </label>
                <br>
            </div>

            <span class="input-label texto-input">Valor investido</span>
            <div class="row row-no-padding">
                <div class="col col-25">
                    <label class="item item-input item-select">
                        <select ng-model="vm.dados.moeda" ng-options="moeda as moeda.simbolo for moeda in vm.moedas" step="0.01" ng-disabled="vm.visualizacao"></select>
                    </label>
                </div>
                &nbsp&nbsp
                <div class="col">
                    <label class="item item-input">
                        <input ng-model="vm.dados.valorInvestido" type="number" placeholder="0,00" ng-disabled="vm.visualizacao">
                    </label>
                </div>
			</div>

            <div ng-hide="!vm.iniciado && !vm.visualizacao">					
				<span class="input-label">Valor atual</span>
				<div class="row row-no-padding">
					&nbsp&nbsp
					<div class="col">
						<label class="item item-input">
							<span class="item-input">{{vm.dados.moeda.simbolo}}&nbsp;&nbsp;</span>
							<input ng-model="vm.dados.valorAtual" type="number" step="0.01" placeholder="0,00" ng-disabled="vm.visualizacao">
						</label>
					</div>
				</div>
			</div>
			
			
			
			<span class="input-label texto-input">Tempo de investimento</span>
            <div class="row row-no-padding">
                <div class="col col-50">
                    <label class="item item-input">
                        <input type="number" ng-model="vm.dados.qtdTempo" ng-disabled="vm.visualizacao">
                    </label>
                </div>
                &nbsp&nbsp
                <div class="col">
                    <label class="item item-input item-select">
                        <select ng-model="vm.dados.escalaTempo" ng-options="escala.id as escala.name for escala in vm.escalaTempo" ng-disabled="vm.visualizacao"></select>
                    </label>
                </div>
            </div>
        </form>
        <br>
		
		<div ng-show="vm.visualizacao">
            <div class="row">
                <div class="col">
                    <button class="button button-block" style="margin: 0" ng-click="vm.cancelar()">Voltar</button>
                </div>
                <div class="col">
                    <button class="button button-block" style="margin: 0" ng-click="vm.excluir()">Excluir</button>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button class="button button-block" style="margin: 0" ng-click="vm.prever()">Prever valor futuro</button>
                </div>
                <div class="col">
                    <button class="button button-block" style="margin: 0" ng-click="vm.visualizacao = false; vm.alteracao = true">Alterar</button>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button class="button button-block" style="margin: 0" ng-click="vm.addDinheiro()">Adicionar dinheiro</button>
                </div>
                <div class="col">
                    <button class="button button-block" style="margin: 0" ng-click="vm.removeDinheiro()">Remover dinheiro</button>
                </div>
            </div>
        </div>
        <div ng-hide="vm.visualizacao">
            <div class="row">
                <div class="col">
                    <button class="button button-block" style="margin: 0" ng-click="vm.cancelar()">Voltar</button>
                </div>
                <div class="col">
                    <button class="button button-block" style="margin: 0" ng-click="vm.alteracao ? vm.alterar() : vm.salvar()">{{vm.alteracao ? 'Alterar' : 'Cadastrar'}}</button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
