<ion-view view-title="Inserir Objetivo">
    <ion-content class="padrao has-header padding">
        <form name="objetivo">
            <span class="input-label">Descrição</span>
            <label class="item item-input">
                <input type="text" placeholder="Descrição" ng-model="vm.dados.descricao">
            </label>
            <br>



            <span class="input-label">Valor</span>
            <div class="row row-no-padding">
                <div class="col col-33">
                    <label class="item item-input item-select">
                        <select ng-model="vm.dados.moedaId" ng-options="moeda.id as moeda.simbolo for moeda in vm.moedas"></select>
                    </label>
                </div>
                &nbsp&nbsp
                <div class="col">
                    <label class="item item-input">
                        <input ng-model="vm.dados.valor" type="number" placeholder="0,00" required>
                    </label>
                </div>
            </div>
            <br>



            <span class="input-label texto-input">Data ideal de conclusão (opcional)</span>
            <label class="item item-input">
                <input type="date" ng-model="vm.dados.dataInicial">
            </label>
            <br>
            <br>
            <div class="row">
                <div class="col col-33">
                    <button class="button button-block" ng-click="vm.cancelar()">Cancelar</button>
                </div>
                <div class="col" ng-if="vm.alteracao">
                    <button class="button button-block" ng-click="vm.excluir()">Excluir</button>
                </div>
                <div class="col">
                    <button class="button button-block" ng-click="vm.alteracao ? vm.alterar() : vm.salvar()">{{vm.alteracao ? 'Alterar' : 'Cadastrar'}}</button>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>
