<ion-view view-title="Inserir movimentação">
  <ion-content class="padding">
    <form name="cadastro" ng-submit="vm.cadastro()">
    <span class="input-label">Tipo de movimentação</span>
    <div class="row row-no-padding">
        <div class="col">
          <ion-radio style="font-size: 13px; border: none;" ng-model="vm.dados.RendaFixa">Receita</ion-radio> 
        </div>
        
        <div class="col">
          <ion-radio style="font-size: 13px; border: none;" ng-model="vm.dados.RendaFixa">Despesa</ion-radio>
        </div>
        <div class="col">
            <ion-radio style="font-size: 13px; border: none;" ng-model="vm.dados.RendaFixa">Transferência</ion-radio>
        </div>
      </div>

      <br>
    
      <span class="input-label">Conta origem</span>
      <select class="ion-input-select">
          <option selected="">Conta Corrente</option>
          <option>Poupança</option>
          <option>Carteira</option>
      </select>
   	  <br><br>
      <span class="input-label">Conta destino</span>
      <select class="ion-input-select">
          <option>Conta Corrente</option>
          <option selected>Poupança</option>
          <option>Carteira</option>
      </select>
      <br><br>
      <span class="input-label">Grupo de movimentações</span>
      <select class="ion-input-select">
          <option selected="">Salário</option>
          <option>Opção 2</option>
          <option>Opção 3</option>
      </select>
      <br><br>
      <span class="input-label">Descrição</span>
      <label class="item item-input">
          <input type="text" placeholder="(Opcional)">
      </label>
      <br>
      <span class="input-label">Valor</span>
      <div class="row row-no-padding">
        <div class="col col-33">          
            <label class="item item-select">
            <select ng-model="vm.dados.MoedaId">
              <option selected>R$</option>
              <option>U$</option>
              <option>€</option>
            </select>
          </label>
        </div>
        &nbsp&nbsp
        <div class="col">
          <label class="item item-input">
          <input ng-model="vm.dados.Valor" type="email" placeholder="0,00" required name="email">
          </label>
        </div>
      </div>

      <span class="input-label">Repetir movimentação</span>
      <select class="ion-input-select">
          <option selected="">Mensalmente</option>
          <option>Diariamente</option>
          <option>Quinzenalmente</option>
      </select>
      <br>    
      <div class="row">
    	   <div class="col col-33"><button class="button button-block">Cancelar</button></div>
         <div class="col"><button class="button button-block" ng-click="vm.cadastrar()">Cadastrar</button></div>
      </div>
    </form>
    

  </ion-content>
</ion-view>
