<ion-view view-title="Cadastre-se">
  <ion-content class="padding padrao">
    <center><h4>Crie uma conta para poder usar o JARBAS onde quiser!</h4>
      <br>
      <h4>Você só precisa de:</h4>
    </center>
    <form name="cadastro" ng-submit="vm.cadastrar()">
      <span class="input-label">Nome</span>
      <label class="item item-input">
        <input ng-model="vm.dados.nome" type="text" placeholder="Digite seu nome" required name="nome">
   	  </label>
   	  <br>
   	  <span class="input-label">E-mail</span>
      <label class="item item-input">
        <input ng-model="vm.dados.email" type="email" placeholder="Digite um e-mail válido" required name="email">
   	  </label>
   	  <br>
   	  <span class="input-label">Senha</span>
      <label class="item item-input">
        <input ng-model="vm.dados.senha" ng-change="vm.analisaSenha()" type="password" placeholder="Digite uma senha forte" required name="password">
   	  </label>
   	  <br>
   	  <div class="row">
   	  	<div class="col col-33">Força da senha:</div>   	  	
   	  	<div class="col col-50">
   	  	  <span class="styled">
      	    <meter value="{{vm.forcaSenha}}" min="0" max="100" low="25" high="75" optimum="100" style="-webkit-appearance: meter;"></meter>
          </span>
        </div>
        <div class="col"><button style="top:-9px;" class="button button-icon icon ion-help-circled"></button></div>
      </div>
   	  <span class="input-label">Confirmação de senha</span>
      <label class="item item-input">
        <input ng-model="vm.confirmaSenha" type="password" placeholder="Digite uma senha novamente" required name="password">
   	  </label>
   	  <br>
   	  <hr width="90%">
   	  <div class="row">
        <div class="col"><h5>Ou cadastre-se <br> com suas redes sociais</h5></div>
        <div class="col">
          <button ng-click="vm.cadastroGoogle()" class="button icon ion-social-google"></button>
          <!--<button style="width:45px; height:45px"><img style="width:25px; height:auto" src="img/google.png"></button></div> -->
        </div>
      </div>
      <button type="submit" class="button button-block">Cadastrar</button>
    </form>

          
      


  </ion-content>
</ion-view>
