<ion-view view-title="Complete seu cadastro">
  <ion-content class="padding">
    <h4>Insira mais algumas informações sobre você, para obter uma experiência personalizada.</h4>
      <br>
    <form name="cadastro" ng-submit="vm.cadastro()">
      <span class="input-label">Faixa etária</span>
      <label class="item item-input item-select">
        <div class="input-label">
          Idade
        </div>
        <select>
          <option selected>5 a 10 anos</option>
          <option>Green</option>
          <option>Red</option>
        </select>
      </label>
   	  <br>
      <span class="input-label">Profissão</span>
      <label class="item item-input item-select">
        <div class="input-label">
          Profissão
        </div>
        <select>
          <option selected>Programador</option>
          <option>Green</option>
          <option>Red</option>
        </select>
      </label>
      <br>
      <span class="input-label">Faixa etária</span>
      <div class="row">
        <div class="col col-33">
          
            <label class="item item-input item-select">
              <div class="input-label">
                R$
              </div>
              <select>
                <option>5 a 10 anos</option>
                <option>Green</option>
                <option>Red</option>
              </select>
            </label>
        </div>
        <div class="col">
          
            <label class="item item-input">
        <input ng-model="vm.dados.email" type="email" placeholder="Digite um e-mail válido" required name="email">
      </label>
        </div>
      </div>
          
      <br>  
        </div>
      </div>
   	  <span class="input-label">E-mail</span>
      <label class="item item-input">
        <input ng-model="vm.dados.email" type="email" placeholder="Digite um e-mail válido" required name="email">
   	  </label>
   	  <br>
   	  <span class="input-label">Senha</span>
      <label class="item item-input">
        <input ng-model="vm.dados.senha" type="password" placeholder="Digite uma senha forte" required name="password">
   	  </label>
   	  <br>
   	  <div class="row">
   	  	<div class="col col-33">Força da senha:</div>
   	  	
   	  	<div class="col col-50">
   	  	  <span class="styled">
      	    <meter min="0" max="100" low="25" high="75" optimum="100" value="50"></meter>
          </span>
        </div>
        <div class="col"><button class="button button-icon icon ion-help-circled"></button></div>
      </div>
   	  <span class="input-label">Confirmação de senha</span>
      <label class="item item-input">
        <input ng-model="vm.confirmaSenha" type="password" placeholder="Digite uma senha novamente" required name="password">
   	  </label>
   	  <br>
   	  <hr width="90%">
   	  <div class="row">
        <div class="col"><h5>Ou cadastre-se <br> com suas redes sociais</h5></div>
        <div class="col">
          <button class="button icon ion-social-facebook"></button>
          <button class="button icon ion-social-google"></button>
          <!--<button style="width:45px; height:45px"><img style="width:25px; height:auto" src="img/google.png"></button></div> -->
        </div>
      </div>
    </form>
    <button class="button button-block">Cadastrar</button>

          
      


  </ion-content>
</ion-view>
