<ion-view view-title="Movimentações">
	<ion-content>
		<div class="list">
			<div class="item item-divider">
    			Filtrar por:
    			
    			<select>
      				<option>Blue</option>
				    <option selected>Green</option>
      				<option>Red</option>
    			</select>
    			Conta:
    			<select>
    				<option>Blue</option>
				    <option selected>Green</option>
      				<option>Red</option>
    			</select>
  			</div>
			<a href="#" class="item">
				<div class="row">
					<div class="col col-10">
						<i style="font-size: 30px; position: absolute; left: 10px;" class="icon ion-social-usd"></i>
					</div>
					
					<i style="font-size: 20px; position: absolute; top:30px; left: 40px;" class="icon ion-arrow-up-c row-no-padding"></i>		
					
					<div class="col col-67">
						<h2>Bolsa estágio</h2>
			    		<p>15/02/17 em C.C</p>
					</div>
					<div class="col col-10">						
						+R$ 380,00
					</div>
				</div>
			</a>
			<a href="#" class="item">
				<div class="row">
					<div class="col col-10">
						<i style="font-size: 30px; position: absolute; left: 10px;" class="icon ion-social-usd"></i>
					</div>
					
					<i style="font-size: 20px; position: absolute; top:30px; left: 40px;" class="icon ion-arrow-down-c row-no-padding"></i>		
					
					<div class="col col-67">
						<h2>Boleto PSN</h2>
			    		<p>15/02/17 em Poupança</p>
					</div>
					<div class="col col-10">						
						-R$ 120,00
					</div>
				</div>
			</a>
			<a href="#" class="item">
				<div class="row">
					<div class="col col-10">
						<i style="font-size: 30px; position: absolute; left: 20px;" class="icon ion-arrow-swap"></i>
					</div>							
					<div class="col col-67">
						<h2>De C.C para Poupança</h2>
			    		<p>15/02/17</p>
					</div>
					<div  style="position: absolute; right: 55px;" class="col col-10">						
						R$ 12,00
					</div>
				</div>
			</a>
			
		</div>
		<a style="position: absolute; right: 20px; bottom: 30px;" class="button button-icon icon ion-plus-round" href="#/app/add_movimentacao"></a>
    	

  </ion-content>
</ion-view>
