<ion-view view-title="Contas contábeis">
	<ion-content>
		<div class="list">
			<a class="item href="#">
    			Poupança
    			<span class="item-note">
      				+R$ 380,00
    			</span>
  			</a>
  			<a class="item href="#">
    			C.C
    			<span class="item-note">
      				-R$ 120,00
    			</span>
  			</a>
  			<a class="item href="#">
    			Cartão de Crédito
    			<span class="item-note">
      				+R$ 12,00
    			</span>
  			</a>
		</div>
		<a style="position: absolute; right: 20px; bottom: 30px;" class="button button-icon icon ion-plus-round"></a>
    	

  </ion-content>
</ion-view>
