<ion-view view-title="Contas contábeis">
	<ion-content class="padrao has-header">
		<div class="list">
			<a class="item" ng-repeat="conta in vm.dados track by $index" ng-click="vm.alterar($index)">
    			{{conta.nome}}
    			<span class="item-note" style="color: {{conta.saldo >= 0 ? '#3366CC' : '#DC3912'}}">
					{{conta.saldo | currency: conta.moeda.simbolo + ' '}}
    			</span>
  			</a>
		</div>
		<a ng-click="vm.add()" class="button button-icon icon ion-plus-round"></a>
  </ion-content>
</ion-view>
