<ion-view view-title="Movimentações">
	<ion-content class="padrao">
		<div class="list">
			<div class="item item-divider">
    			Filtrar por:
    			
    			<select ng-model="vm.filtro1Selected" ng-options="filtro as filtro.nome for filtro in vm.filtro1Lista" ng-change="vm.filtro1Changed()">
    			</select>
    			<span ng-show="vm.filtro1Selected != vm.filtro1.semFiltro">{{vm.filtro1Selected.nome}}:</span>
    			<select ng-model="vm.filtro2Selected" ng-options="filtro as filtro.nome for filtro in vm.filtro2Lista" ng-show="vm.filtro1Selected != vm.filtro1.semFiltro" ng-change="vm.filtro2Changed()">
    			</select>
  			</div>
			<a ng-href="#/app/add_movimentacao/{{mov.id}}" class="item" ng-repeat="mov in vm.dados">
				<div class="row">
					<div class="col col-10">
						<i style="font-size: 30px; position: absolute; left: 10px;" class="icon ion-social-usd"></i>
					</div>
					
					<i style="font-size: 20px; position: absolute; top:30px; left: 40px;" ng-show="mov.tipoMovimentacao == 0" class="icon ion-arrow-up-c row-no-padding"></i>		
					<i style="font-size: 20px; position: absolute; top:30px; left: 40px;" ng-show="mov.tipoMovimentacao == 1" class="icon ion-arrow-down-c row-no-padding"></i>		
					
					<div class="col col-67">
						<h2>{{mov.descricao}}</h2>
			    		<p>{{mov.data | date: 'dd/MM/yy'}} em {{mov.contaContabil.nome}}</p>
					</div>
					<div class="col col-10">						
						{{mov.valor | currency: mov.contaContabil.moeda.sigla + ' '}}
					</div>
				</div>
			</a>
		</div>
		<a style="position: absolute; right: 20px; bottom: 30px;" class="button button-icon icon ion-plus-round" href="#/app/add_movimentacao"></a>
    	

  </ion-content>
</ion-view>
