<!-- <ion-view view-title="Repetição">
    <ion-content class="padding padrao">
        <h4 align="center">Repetição personalizada</h4> -->
<form name="cadastro">
    <!-- <br> -->
    <div class="row row-no-padding">
        <div class="col col-20">
            <span style="font-size: 15px; position: relative; top: 5px !important;">Repetir</span>
        </div>

        <div class="col">
            <label class="item item-input item-select">
                <span class="item-input">Repetir</span>
                <select ng-model="vm.escalaPersonalizada" ng-init="vm.escalaPersonalizada = vm.escalaTempo[0].id" ng-change="vm.resetarAgendamento()" ng-options="escala.id as escala.name for escala in vm.escalaTempo.slice(0, vm.escalaTempo.length - 1)"></select>
            </label>
        </div>
        <div class="col col-25"></div>
    </div>

    <br>

    <div class="row row-no-padding">
        <div class="col col-20">
            <span style="font-size: 15px; position: relative; top: 5px !important;">A cada</span>
        </div>
        <div class="col">
            <input type="number" ng-model="vm.dados.agendamento.qtdTempo">
        </div>
        <div class="col">
            <center><span style="font-size: 15px; position: relative; top: 6px !important;">
                <span ng-show="vm.escalaPersonalizada == vm.escalaEnum.diario">dia</span><span ng-show="vm.escalaPersonalizada == vm.escalaEnum.semanal">semana</span><span ng-show="vm.escalaPersonalizada == vm.escalaEnum.anual">ano</span><span ng-show="vm.dados.agendamento.qtdTempo > 1 && vm.escalaPersonalizada != vm.escalaEnum.mensal">s</span>
                
                <!-- mês é especial, um caso a parte, não dá pra só colocar um S no final -->
                <span ng-show="!(vm.dados.agendamento.qtdTempo > 1) && vm.escalaPersonalizada == vm.escalaEnum.mensal">mês</span>
                <span ng-show="vm.dados.agendamento.qtdTempo > 1 && vm.escalaPersonalizada == vm.escalaEnum.mensal">meses</span>
            </span></center>
        </div>
    </div>

    <br>
    <div ng-show="vm.escalaPersonalizada == vm.escalaEnum.semanal" class="semanas">
        <div class="row row-no-padding">
            <div class="col col-10">
                <span style="font-size: 15px; position: relative; top: 5px !important;">De</span>
            </div>
            <div class="col">
                <ul class="list">
                    <li>
                        <ion-checkbox style="font-size: 13px;" ng-checked="vm.diaSemanaSelecionado(vm.diaSemana.domingo)" ng-click="vm.selecionarDiaSemana(vm.diaSemana.domingo)">Domingo
                        </ion-checkbox>
                    </li>
                    <li>
                        <ion-checkbox style="font-size: 13px;" ng-checked="vm.diaSemanaSelecionado(vm.diaSemana.segunda)" ng-click="vm.selecionarDiaSemana(vm.diaSemana.segunda)">Segunda
                        </ion-checkbox>
                    </li>
                    <li>
                        <ion-checkbox style="font-size: 13px;" ng-checked="vm.diaSemanaSelecionado(vm.diaSemana.terca)" ng-click="vm.selecionarDiaSemana(vm.diaSemana.terca)">Terça</ion-checkbox>
                    </li>
                    <li>
                        <ion-checkbox style="font-size: 13px;" ng-checked="vm.diaSemanaSelecionado(vm.diaSemana.quarta)" ng-click="vm.selecionarDiaSemana(vm.diaSemana.quarta)">Quarta</ion-checkbox>
                    </li>
                </ul>
            </div>
            <div class="col">
                <ul>
                    <li>
                        <ion-checkbox style="font-size: 13px;" ng-checked="vm.diaSemanaSelecionado(vm.diaSemana.sexta)" ng-click="vm.selecionarDiaSemana(vm.diaSemana.quinta)">Quinta</ion-checkbox>
                    </li>
                    <li>
                        <ion-checkbox style="font-size: 13px;" ng-checked="vm.diaSemanaSelecionado(vm.diaSemana.sexta)" ng-click="vm.selecionarDiaSemana(vm.diaSemana.sexta)">Sexta</ion-checkbox>
                    </li>
                    <li>    
                        <ion-checkbox style="font-size: 13px;" ng-checked="vm.diaSemanaSelecionado(vm.diaSemana.sabado)" ng-click="vm.selecionarDiaSemana(vm.diaSemana.sabado)">Sábado</ion-checkbox>
                    </li>
                </ul>
            </div>
        </div>
        <br>
    </div>

    <div ng-show="vm.escalaPersonalizada == vm.escalaEnum.mensal" style="border: 1px solid !important;" class="mes">
        <div style="border-bottom: 1px solid;" class="row row-no-padding" ng-click="vm.setarRepeticaoMensal(1)">
            <div class="col">
                <ion-radio style="background-color: transparent !important; border: 1px solid;" ng-checked="vm.dados.agendamento.diaMes">No dia</ion-radio>
            </div>
            &nbsp
            <div class="col col-20">
                <input style="position: relative; top: 10px;" ng-model="vm.dados.agendamento.diaMes" type="number">
            </div>
            <div class="col col-33">
                <span style="position: relative; top: 15px !important; font-size: 15px;"><center>de cada mês</center></span>
            </div>
        </div>

        <div ng-click="vm.setarRepeticaoMensal(2)">
            <div class="row row-no-padding" style="margin: 1px;">
                <br>
                <div class="col" ng-click="">
                    <ion-radio ng-checked="vm.dados.agendamento.semanaMes && vm.dados.agendamento.diaSemana">Na</ion-radio>
                </div>
                &nbsp
                <div class="col">
                    <label class="item item-input item-select">
                        <span class="item-input">a</span>
                        <select ng-model="vm.dados.agendamento.semanaMes">
                            <option value="1">1ª</option>
                            <option value="2">2ª</option>
                            <option value="3">3ª</option>
                            <option value="4">4ª</option>
                        </select>
                    </label>
                </div>
            </div>
            <div class="row row-no-padding" style="margin: 2px">
                <div class="col">
                    <label class="item item-input item-select">
                        <span class="item-input">a</span>
                        <select ng-model="vm.dados.agendamento.diaSemana">
                            <option ng-value="vm.diaSemana.domingo">Domingo</option>
                            <option ng-value="vm.diaSemana.segunda">Segunda-feira</option>
                            <option ng-value="vm.diaSemana.terca">Terça-feira</option>
                            <option ng-value="vm.diaSemana.quarta">Quarta-feira</option>
                            <option ng-value="vm.diaSemana.quinta">Quinta-feira</option>
                            <option ng-value="vm.diaSemana.sexta">Sexta-feira</option>
                            <option ng-value="vm.diaSemana.sabado">Sábado</option>
                        </select>
                    </label>
                </div>
                <div class="col col-33">
                    <span style="position: relative; top: 15px !important; font-size: 15px;"><center>de cada mês</center></span>
                </div>
                <br>
            </div>
        </div>
    </div>


    <br>
    <div class="row row-no-padding">
        <div class="col col-50">
            <label class="item item-input item-select">
                <span class="item-input">a</span>
                <select ng-model="ateQuando" ng-init="ateQuando = 'Para sempre'">
                    <option ng-checked="vm.dados.agendamento.vezesLimite">Por</option>
                    <option ng-checked="vm.dados.agendamento.dataLimite">Até</option>
                    <option ng-checked="!vm.dados.agendamento.vezesLimite && !vm.dados.agendamento.vezesLimite">Para sempre</option>
                </select>
            </label>
        </div>
        &nbsp
        <div ng-show="ateQuando == 'Por'" class="col">
            <input type="number" ng-model="vm.dados.agendamento.vezesLimite">
        </div>
        <div ng-show="ateQuando == 'Por'" class="col">
            <center><span style="font-size: 15px; position: relative; top: 6px !important;">
                vezes
            </span></center>
        </div>
        <div ng-show="ateQuando == 'Até'" class="col">
            <input type="date" ng-model="vm.dados.agendamento.dataLimite">
        </div>
    </div>

    <!-- <button class="button button-block">Ok</button> -->
</form>
<!-- </ion-content>
</ion-view> -->
