<ion-view view-title="Resumo">
    <ion-content class="padrao has-header">
        <div class="list list-inset">
            <div class="item item-divider">
                Movimentações
            </div>
            <a class="item" ng-href="#/app/add_movimentacao/{{mov.id}}/{{mov.tipoMovimentacao == 2}}" ng-repeat="mov in vm.dados.movimentacoes.slice(0, 3)">
                <div class="row">
                    <div class="col col-75">
                        <h2>{{mov.descricao}}</h2>
                        <p>
                            {{mov.grupoMovimentacoes.nome}} - {{mov.data | date: 'dd/MM/yy'}}
                            <span ng-hide="mov.tipoMovimentacao == 2">em {{mov.contaContabil.nome}}</span>
                            <span ng-show="mov.tipoMovimentacao == 2">de {{mov.contaContabil.nome}} para {{mov.contaDestino.nome}}</span>
                        </p>
                    </div>
                    <div class="col">{{mov.valor | currency: mov.contaContabil.moeda.simbolo + ' '}}</div>
                </div>
            </a>
            <div class="item" align="right">
                <a href="#/app/lista_movimentacoes">Ver mais</a>
            </div>
        </div>

        <div class="list list-inset">
            <div class="item item-divider">
                Contas
            </div>

            <a class="item" ng-repeat="conta in vm.dados.contas.slice(0, 3)">
                <div class="row">
                    <div class="col col-75">
                        <h2>{{conta.nome}}</h2>
                    </div>
                    <div class="col">{{conta.saldo | currency: conta.moeda.simbolo + ' '}}</div>
                </div>
            </a>
            
            <div class="item" align="right">
                <a href="#/app/lista_contas">Ver mais</a>
            </div>
        </div>
    </ion-content>
</ion-view>
