<ion-view view-title="Resumo">
  <ion-content class="padrao">
    <div class="list list-inset">
      <div class="item item-divider">
        Movimentações
      </div>
      <a class="item" href="#" ng-repeat="mov in vm.dados.movimentacoes">
      	<div class="row">
      	  <div class="col col-75">
            <h2>{{mov.descricao}}</h2>
            <p>{{mov.grupoMovimentacoes.nome}} - {{mov.contaContabil.nome}}</p>
          </div>
          <div class="col">{{mov.valor | currency: mov.contaContabil.moeda.sigla + ' '}}</div>
        </div>
      </a>
      <div class="item" align="right">
      	<a ui-sref="app.lista_movimentacoes">Ver mais</a>
      </div>
    </div>

    <div class="list list-inset">
      <div class="item item-divider">
      	Contas
      </div>
      <a class="item" href="#">
      	<div class="row" ng-repeat="conta in vm.dados.contas">
      	  <div class="col col-75">
            <h2>{{conta.nome}}</h2>
          </div>
          <div class="col">{{conta.saldo | currency: conta.moeda.sigla + ' '}}</div>
        </div>
      </a>
      <div class="item" align="right">
      	<a ui-sref="app.lista_contas">Ver mais</a>
      </div>
    </div>


  </ion-content>
</ion-view>
